/* src/index.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f3f4f6; /* Light gray background */
}


.max-w-md {
  max-width: 28rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.bg-white {
  background-color: white;
}

.p-6 {
  padding: 1.5rem;
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.rounded-xl {
  border-radius: 0.75rem;
}

.text-center {
  text-align: center;
}

/* Form styling */
input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}